.loading-text {
  animation: colorChange 2s infinite;
  font-weight: bold;

font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes colorChange {
  0% { color: rgb(0, 0, 0); }
  25% { color: blue; }
  50% { color: #008000; }
  75% { color: orange; }
  100% { color: rgb(255, 0, 0); }
}


