
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.colors{
    background-color: rgb(24, 35, 15);
    background-color: rgb(39, 57, 28);
    background-color: rgb(37, 95, 56);
    background-color: rgb(31, 125, 83);
}


.bg0 {
    background-color: rgb(145, 193, 199);

}
.bg1 {
    background-color: indigo;

}
.bg2 {
    background-color: rgb(7, 15, 14);

}
.bg3 {
    background-color: rgb(29, 87, 211);

}
.bg4 {
    background-color: rgb(140, 53, 197);

}
.bg5 {
    background-color: rgb(6, 201, 168);

}
.bg6 {
    background-color: rgb(145, 193, 199);

}

.bg7 {
    background-color: rgb(207, 226, 223);
}
.bg8 {
    background-color: rgb(6, 201, 168);

}
.bg9 {
    background-color: rgb(6, 201, 168);

}

.bg10 {
    background-color: rgb(221, 95, 22);

}

.bg11 {
    background-color: rgb(104, 184, 80);
}
.bg12 {
    background-color: rgb(63, 163, 194);
}
.bg13 {
    background-color: rgb(204, 134, 54);
}
.text_dark{
    color: rgb(15, 15, 15);
}

.text_light{
    color: rgb(233, 230, 230);
}




